body {
  overflow: hidden;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
  }
  .smalltalk .page {
    background: #333;
    color: #fff;
    border: 1px solid #eee !important;
  }
}

button,
.smalltalk button {
  background: #aaa;
  color: #333;
  border: 0;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;
  font-size: 18pt !important;
  font-weight: bold;
  margin-top: 8px;
}

.smalltalk input[type='text'] {
  background: #aaa;
  color: #333;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;
  font-size: 18pt !important;
  font-weight: bold;
  margin-top: 8px;
}

input[type='color'] {
  width: 48px;
  display: block;
  margin-top: 8px;
  margin: 0 auto;
}

.js-input-shapes {
  margin-top: 18px;
}

.smalltalk button:enabled:focus,
.smalltalk input:enabled:focus {
  border-color: #333;
}

/*.smalltalk button[data-name="js-cancel"],*/
.smalltalk div[data-name='js-close'] {
  display: none !important;
}

.save__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.save__controls button {
  margin-left: 5px;
}

.react-flow__controls {
  bottom: 20px;
}

.react-flow__controls-interactive {
  display: none !important;
}

.smalltalk .page {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #333;
}

@media print {
  .react-flow__controls,
  .save__controls {
    display: none !important;
  }
  body {
    background: transparent !important;
    color: #333 !important;
  }
}

.js-input-shapes label {
  background: transparent !important;
}
